
.issue-form {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.issue-form label {
	font-weight: 600;
	margin-bottom: 4px;
}

.issue-form input, .issue-form textarea, .issue-form select {
	width: 100%;
}
.issue-form input.autocomplete-input::-webkit-calendar-picker-indicator {
	display: none;
}
.issue-form input.autocomplete-input {
	-webkit-appearance: none;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='18' viewBox='0 0 24 24' fill='none' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'></polyline></svg>");
	background-repeat: no-repeat;
	background-position: right 6px center;
	height: 32px;
}

.collaborator-row {
	display: grid;
	grid-template-columns: 1fr 24px;
	gap: 6px;
	width: 100%;
	align-items: center;
}

.collaborator-row input {
	width: 100%;
}

.collaborator-row button {
	width: 24px;
	background: none;
	border: none;
	box-shadow: none;
	padding: 0;
	color: var(--link-color);
	cursor: pointer;
	font: inherit;
	height: 24px;
}

button.collaborator-button {
	background: none;
	border: none;
	box-shadow: none;
	padding: 0;
	color: var(--link-color);
	cursor: pointer;
	font: inherit;
	height: 24px;
}

.wide-setting-input {
	width: 100%;
}

/* Section for basic animation of icons */
.no-scroll::-webkit-scrollbar {
		display: none !important;
	}

.active-indicator {
	position: relative;
	display: inline-flex;
	align-items: center;
	width: 1.2em;
	height: 1.2em;
}

.active-indicator span {
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
	line-height: 1;
	font-size: 14px;
}

.blinky-circle-green {
	position: absolute;
	width: 20px;
	height: 20px;
	background: #00FF55;
	border-radius: 50%;
	animation: blinky 2s infinite;
	pointer-events: none;
	z-index: 1;
}

.active-indicator.large span {
	font-size: 18px;
}

.active-indicator.large .blinky-circle-green {
	width: 28px;
	height: 28px;
}

.active-indicator.active .blinky-circle-green {
	display: block
}

.active-indicator:not(.active) .blinky-circle-green {
	display: none
}

.blinky-circle-null-large {
	position: absolute;
	border-radius: 50%;
/*	animation: blinky 2s infinite;*/
	pointer-events: none;
	z-index: 1;
}

@keyframes blinky {
	0% {
		transform: scale(0);
		opacity: 1
	}

	100% {
		transform: scale(1.5);
		opacity: 0
	}
}



/* context-specific settings */
.font-size-12 {
	font-size: 12px;
}

.font-size-14 {
	font-size: 14px;
}

.font-size-16 {
	font-size: 16px;
}

.project-dashboard {
	font-size: 14px;
}

.project-stats {
	font-size: 14px;
	text-align: center;
	margin-top: 1rem;

}
.bold {
	font-weight: 600 !important
}

.project-dashboard .dashboard-table thead tr:first-child th {
	font-size: 0.85em;
	color: var(--text-muted);
	font-weight: 500;
	border-bottom: none;
/*	background-color: var(--table-header);*/
}

.project-dashboard .dashboard-table thead tr:nth-child(2) th {
	font-weight: 600;
/*	background-color: var(--table-header);*/
}

/* specific element styles */
.dropdown-new {
	-webkit-appearance: none;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'></polyline></svg>");
	background-repeat: no-repeat;
	background-position: right 6px center;
	height: 28px;
}

.dashboard button.button-larger {
	font-size: larger;
	height: fit-content;
	margin-bottom: 16px;
	margin-left: 10px;
	margin-right: 10px;
}

.dashboard button {
	background: none;
	border: none;
	box-shadow: none;
	padding: 0;
	color: var(--link-color);
	cursor: pointer;
	font: inherit;
	height: 24px;
	text-wrap-mode: inherit;
}

.dashboard button:hover {
	color: var(--link-color-hover);
	text-decoration: underline;
}

hr {
	margin: 0.5rem 0;
}

.section-header {
	font-size: 16px;
	text-align: center;
	margin-bottom: 1rem;
	font-weight: 600;
}
/* modifiers */
.control-col {
	flex-direction: column;
	gap: 4px;
}

.control-row {
	flex-direction: row;
}

.dashboard button.button-selected {
	font-weight: 600 !important;
}

.right-align {
	margin-left: auto;
}
.center-align {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.text-centered {
	text-align: center;
}

.left-align {
	text-align: left !important;
}

.left-indent {
	padding-left: 20px !important;
}

.fixed-width-date-range {
	width: 150px;
	text-align: center;
}

.underline {
	text-decoration: underline;
}

.time-modal-secondary {
	font-size: var(--font-ui-smaller);
	color: var(--text-muted);
	margin-top: 2px;
	margin-bottom: 6px;
	text-align: center;
}

.project-section {
	/*	width: fit-content;*/
	max-width: 100%;
	margin: 0 auto;
	overflow-x: auto;
	
}
.single-project-section {
	max-height: 400px;
	overflow-y: auto;
}
.project-selector {
	display: flex;
	align-items: center;
	gap: 8px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 24px;
	height: fit-content;
}

/*.project-selector option {
	padding-left: 40px;
	padding-right: 40px;
}*/

.project-dashboard .group-row .small-icon {
	font-size: 8px;
}

.project-controls {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 2px 0;
}

.timestamp-row {
	display: flex;
	gap: 8px;
	align-items: center;
}

.timestamp-row input {
	width: auto;
	flex: 0 0 auto;
}

.summary-col-header {
	font-weight: 600;
}

.summary-col-subheader {
	font-size: 0.85em;
	opacity: 0.7;
}

.dashboard-table .border-left {
	border-left: 1px solid var(--background-modifier-border-hover);
}

.todo-dashboard .summary-section table {
	padding: 0px 8px;
	border-bottom: 1px solid var(--background-modifier-border-hover);
	text-align: center;
	height: 30px;
}

.todo-dashboard tbody tr {
	height: 30px;
	vertical-align: middle;
}


.todo-controls {
	display: flex;
	align-items: center;
	gap: 8px;
	text-align: left;
}


/* table template */
.dashboard-table {
	width: fit-content;
	table-layout: fixed;
	margin: 0 auto;
	border-collapse: collapse;
	text-align: center;
}

.dashboard-table button {
	height: fit-content;
}

.dashboard-table th,
.dashboard-table td {
	padding: 2px;
	/*	border-bottom: 1px solid var(--background-modifier-border);*/

	vertical-align: middle;
	text-overflow: ellipsis;
	height: 30px;
}

.dashboard-table tbody tr:where(:not(.first)):where(:not(.summary-row)):where(:nth-child(even)) {
	/* alternate row color */
	background-color: var(--table-bg-alt);
}

.dashboard-table th {
	font-weight: 600;
	background-color: var(--table-header);
}

.dashboard-table tr .summary-row {
	border-bottom: 0px;
	border-top: 2px solid var(--background-modifier-border);
	text-align: center;
	vertical-align: middle;
	font-weight: 700;
}

.dashboard-table tbody tr:where(:not(.summary-row)):hover {
	/* highlight row under cursor */
	background-color: var(--background-modifier-hover);
}

.dashboard-table .group-row {
	font-weight: 500;
	background-color: var(--table-group);
}

.dashboard-table tbody .first {
	border-top: 1px solid var(--background-modifier-border);
	background-color: var(--table-group);
}

.dashboard-table tr .colgroup-start, .dashboard-table th .colgroup-start {
	border-left: 1px solid var(--background-modifier-border);
}

.dashboard-table tr .total-col, .dashboard-table th .total-col {
	border-left: 1px solid var(--background-modifier-border);
	text-align: center;
	vertical-align: middle;
	font-weight: 600;
	padding: 0px 20px;
}

.dashboard-table td.group-member {
	font-family: monospace;
	color: gray;
	font-size: 10px;
	position: relative;
	/*	text-align: left;*/
}

.dashboard-table .group-tree-wrapper {
	position: relative;
	width: 100%;
	height: 120%;
}

.dashboard-table .group-tree-line {
	position: absolute;
	left: 50%;
	top: 0;
	bottom: 0;
	width: 1px;
	/*	transform: scaleY(250%);*/
	background-color: lightgray;
	/*	overflow: visible;*/
}

.dashboard-table .group-tree-line-last {
	position: absolute;
	left: 50%;
	top: 0;
	bottom: 50%;
	width: 1px;
	background-color: lightgray;
	/*	overflow: visible;*/
}

.dashboard-table .group-tree-line-first {
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: 0;
	width: 1px;
	/*	transform: scaleY(250%);*/
	background-color: lightgray;
	/*	overflow: visible;*/
}

.dashboard-table .group-tree-branch {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 1px;
	width: 8px;
	/*	transform: scaleY(250%);*/
	background-color: lightgray;
	/*	overflow: visible;*/
}

.dashboard-table td.group-member button {
	font-family: monospace;
	color: gray;
	height: 24px;
}

.time-table th,
.time-table td {
	height: 28px;
}

.time-table th {
	font-weight: 600;
	background-color: var(--table-header);
}
.time-table tbody tr:where(:not(.first)):where(:nth-child(even)) {
	/* alternate row color */
	background-color: var(--table-bg-alt);
}

.summary-controls {
	display: flex;
	align-items: center;
	gap: 20px 8px;
	justify-content: center;
	padding: 2px 0;
}

.dashboard .summary-controls {
	padding-bottom: 8px;
}

.dashboard .summary-controls button {
	height: 30px;
}

.dashboard .header {
	display: flex;
}
/*.dashboard .summary-controls .arrow-button {
	width: 30px;
}*/

.dashboard .summary-section {
	/*	margin-top: 20px;*/
	font-size: 12px;
}
.project-time-section {
/*	display: flex;
	flex-direction: column;*/
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 12px;
	justify-content: center;
	width: 420px
}

.project-time-label {
	font-size: large;
	
	text-align: center;
}

.project-time-value {
	font-size: large;
	text-align: center;
	padding-bottom: 16px;
	font-weight: 600;
}

checkbox {
	border-radius: 0;
}
.theme-light {
	--table-bg-primary: var(--background-primary);
	--table-group: color-mix(in srgb, var(--table-bg-primary), black 3%);
	--table-bg-alt: color-mix(in srgb, var(--table-bg-primary), black 2%);
	--table-header: color-mix(in srgb, var(--table-bg-primary), black 5%);
}

.theme-dark {
	--table-bg-primary: var(--background-primary);
	--table-group: color-mix(in srgb, var(--table-bg-primary), white 5%);
	--table-bg-alt: color-mix(in srgb, var(--table-bg-primary), white 3%);
	--table-header: color-mix(in srgb, var(--table-bg-primary), white 7%);
}

/* main viewer tab buttons */
.dashboard-tab {
	position: relative;
	margin-bottom: -1px;
	border: 1px solid transparent;
	border-bottom: none;
	border-radius: 6px 6px 0 0;
	background: transparent;
}

.dashboard-tab-table {
	/*	overflow: hidden; */
	/*	border: 1px solid #ccc;*/
	background-color: none;
	display: flex;
	border-bottom: 1px solid var(--background-modifier-border);
	justify-content: space-between;
}

.dashboard-tabs .button-selected {
	border-color: var(--background-modifier-border);
	background: var(--background-primary);
	border-bottom-color: transparent; /* Hides line under active tab to merge with content */
	/*	color: #007bff; */
	font-weight: 600;
}

.dashboard-tabs {
	display: flex;
	align-items: flex-end;
	border-bottom: 1px solid var(--background-modifier-border);
}

.dashboard-tabs button {
	background: none;
	border: 1px solid #ccc;
	outline: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer; /* Changes mouse to pointer on hover */
	transition: all 0.2s ease; /* Smooth visual transition */
	border-radius: 6px 6px 0 0; /* Rounds only top left and right corners */
	color: #555;
	margin-bottom: -1px; /* Pulls active tab down to overlap container border */
	box-shadow: none;
}

.dashboard-tabs button:hover {
	background-color: #e9e9e9;
	color: #000;
}

.dashboard-tabs .dev-button {
	background: none;
	border: none;
	box-shadow: none;
	padding: 0;
	color: var(--link-color);
	cursor: pointer;
	font: inherit;
	height: 20px;
	margin-left: auto;
	font-size: 10px;
	justify-content: end;
	border-radius: 0; /* Remove corner rounding applied by .dashboard-tabs button */
}

.test-css-loading {
	outline: 5px solid red !important;
}
